@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @section scripts{
        <script>
            console.log("DataTable");
            $(document).ready(function () {
                $('table.display').DataTable();
            });
        </script>

        <script>
            console.log("select2");
            $(document).ready(function () {
                $('.js-example-basic-single').select2();
            });
        </script>
    }

</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>