@model IEnumerable<BaseAdminTemplate.Web.Models.ViewModels.UserViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dataModel">@Html.Partial("_UserData", Model)</div>

@section scripts {
    <script type="text/javascript">
        $(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("/userHub").build();

            connection.start();

            connection.on("refresh",
                function () {
                    loadData();
                });

            loadData();

            function loadData() {
                var model = $('#dataModel');
                $.ajax({
                    url: '/User/RefreshData',
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) { model.empty().append(result); }
                });
            }
        });
    </script>
}
